<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fhh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.BMSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".components.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".components.bill.index.activity.IndexActivity"></activity>
        <activity android:name=".components.bill.activity.BillDetailActivity"></activity>
        <activity android:name=".components.bill.addbill.activity.AddBillActivity"></activity>
        <activity android:name=".components.goods.goodsdetail.activity.GoodsDetailActivity"></activity>
        <activity android:name=".components.goods.addgoods.activity.AddGoodsActivity"></activity>
        <activity android:name=".components.bill.updatebill.activity.UpdateBillActivity"></activity>
        <activity android:name=".components.goods.updategoods.UpdateGoodsActivity"></activity>
        <activity android:name=".components.goodstype.updategoodstype.UpdateGoodsTypeActivity"></activity>
        <activity android:name=".components.goodstype.addgoodstype.AddGoodsTypeActivity"></activity>
        <activity android:name=".components.user.adduser.AddUserActivity"></activity>
    </application>

</manifest>